.container {
    width: 950px;
    font-size: 1.2rem;
    margin: 50px auto 200px auto;
}

.title {
    font-family: sans-serif;
    margin-bottom: 50px;
}

.form_comment {
    display: flex;
    flex-flow: column wrap;
    gap: .5em;
    margin-bottom: 20px;

    button {
        width: max-content;
        padding: .4em 1em;
        font-family: 'Baloo Tamma 2';
        font-size: 1rem;
        border-radius: 3px;
        color: white;
        background: #60BF60;
        border: 1px solid rgb(130, 130, 130);
        border: none;
        cursor: pointer;
        transition: all .2s ease-in;

        &:hover {
            opacity: .8;
        }
    }

    .loading {
        align-self: flex-end;
        mix-blend-mode: multiply;
    }
}

.add_comment {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 2em;

    img {
        border-radius: 7px;
    }

    textarea {
        resize: none;
        width: 100%;
        height: 15em;
        padding: 1em;
        font-family: sans-serif;
        -ms-overflow-style: none;
        scrollbar-width: none;
            
        &::-webkit-scrollbar { 
            display: none; 
        }

        &:focus {
            outline-color: #6CAE75
        }
    }
}

.wrong_input {
    textarea {
        border-color: red !important;
        outline-color: red !important;
    }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    .container {
        width: 90vw;
        max-width: 350px;
        font-size: 1rem;
        margin: 50px auto 200px auto;
    }

    .form_comment {
        button {
            font-size: .7rem;
        }
    }

    .add_comment {
        textarea {
            height: 9em;
        }
    }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
    .container {
        width: 90vw;
        max-width: 600px;
        font-size: 1rem;
        margin: 50px auto 200px auto;
    }

    .form_comment {
        button {
            font-size: .7rem;

            &:hover {
                opacity: 1;
            }
        }
    }

    .add_comment {
        textarea {
            height: 9em;
        }
    }
}