@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');

.container_options {
    position: relative;
    width: 70%;
    height: auto;
    border-radius: 3px;
    background: white;
    padding: 1em 3em 10vh 3em;
    flex-flow: column wrap;
}

.restricted_view {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, .7)
}

.display_none {
    display: none;
}

.title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Baloo Tamma 2';
    font-size: 1.2rem;
}

.image_profile {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    .overlay {
        display: none;
        position: absolute;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, .2);
        border: 2px solid rgba(200, 200, 200);
        box-sizing: border-box;
        cursor: pointer;
        transition: all .25s ease-in;

        label {
            font-family: 'Baloo Tamma 2';
            font-weight: 500;
            cursor: pointer;

            &:hover {   
                text-decoration: underline;
            }
        }
    }

    .display_on {
        display: block !important;
    }

    &:hover {
        .overlay {
            display: block;
        }
    }

    img {
        border-radius: 50%;
        transition: all .25s ease-out;
    }
}

.edit_icon {
    position: absolute !important;
    top: 12vh !important;
    cursor: pointer;
}

.option {
    font-family: 'Baloo Tamma 2';
    position: relative;

    p {
        position: relative;
        width: 300px;
        max-width: 300px;
        white-space: pre;
        border: 1px solid rgb(200, 200, 200);
        border-radius: 5px;
        padding: .4em .6em;
        background-color: rgba(240, 240,240);
        
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }

        &::before {
            content: attr(title);
            position: absolute;
            top: -22px;
            left: 0;
            color: rgb(150, 150, 150)
        }
    }
}

.flex_option {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 3em;
}

.setting {
    font-family: 'Baloo Tamma 2';
    color: rgb(50, 50, 50);
    display: flex;
    align-items: flex-start;
    gap: 3em;
    margin-top: 50px;
}

.reset {

    button {
        background: none;
        border: 2px solid rgb(220, 220, 220);
        border-radius: 5px;
        font-family: 'Baloo Bhai 2';
        font-weight: 500;
        margin-top: 15px;
        padding: .5em 1em;
        cursor: pointer;

        &:hover {
            background-color: rgb(240, 240, 240);
        }
        &:active {
            border-color: #6CAE75;
        }
    }
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 120%;
    position: relative;

    &:nth-child(1) {
        margin-top:20px;
    }

    &:nth-child(2) {
        margin-top: 20px;
    }

    input {
        padding: .8em 1em;
        border: 1px solid rgba(200, 200, 200);
        display: inline;
        position: relative;
        border-radius: 3px;

        &:focus {
            outline-color: #6CAE75;
        }
    }

    
    label {
        font-family: 'Baloo Tamma 2', sans-serif;
        font-size: .8rem;
        font-weight: bold;
    }
}