.user_list {
    width: 21%;
    max-width: 300px;
    height: fit-content;
    background: white;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.27);
    border-radius: 3px;

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: .7em;

        li {
            padding: 1em 0 .3em 0;
            font-family: 'Baloo Tamma 2';
            font-size: 1.05rem;

            &:first-child {
                padding-top: 1.2em;
                border-radius: 3px 3px 0 0;
            }

            &:not(:last-child) {
                border-bottom: 1.5px solid gray;
            }

            a {
                margin-left: 10px;

            }

            a:hover {
                opacity: .8;
                text-decoration: underline;
            }
        }
    }
}

.active_link {
    color: rgb(120, 120, 120);
}

.active_item {
    background-color: rgba(245, 245, 245);
}

.logout {
    color: red;
    font-weight: 700;
    cursor: pointer;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
    .list_items {
        width: 100%;
        height: 250px;
        margin-inline: auto;
        background: rgb(250, 250, 250);
        border-radius: 5px;
        font-family: 'Baloo Tamma 2';
        overflow: hidden;

        ul {
            margin-top: 0;
            list-style-type: none;
            padding-left: 0;
            line-height: 3;

            li {
                padding-left: 10px;

                &:not(:last-child) {
                    border-bottom: 1px solid rgb(130, 130, 130);
                }
            }
        }
    }

    .active_page {
        width: 100%;
        margin-inline: auto;
        height: 40px;
        font-family: 'Baloo Tamma 2';
        font-size: 1.1rem;
        background-color: rgb(250, 250, 250);
        border: 1px solid rgb(230, 230, 230);
        border-radius: 5px;
        text-align: center;

        div {
            margin-top: calc((40px - 1.1rem) / 4);
            span:first-child {
                margin-right: 5px;
            }
        }
    }

    @keyframes open_menu {
        0% { height: 0 }
        100% { height: 250px }
    }

    @keyframes close_menu {
        0% { height: 250px }
        100% { height: 0 }
    }

    .open_menu {
        animation: open_menu .5s;
        height: 250px;
    }

    .close_menu {
        animation: close_menu .5s;
        height: 0;
    }

    .active_item {
        background-color: white;
    }
}