.container_flex {
    display: flex;
    flex-flow: row nowrap;
    gap: 200px;
    justify-content: center;
    align-items: center;

    img {
        margin-top: 50px !important;
    }
}

.info {
    width: 35%;
    
    h1 {
        font-size: 4rem;
        line-height: 1;
    }
    
    p {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    button {
        padding: 1em 2em;
        font-family: 'Baloo Bhai 2';
        font-weight: 600;
        background: #60BF60;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 1.3rem;

        &:hover {
            opacity: .9;
        }

        &:active {
            opacity: .8
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    .container_flex {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .info {
        align-self: flex-start;
        margin-left: 12.5%;
        width: 80%;

        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }

        button {
            font-size: .8rem;
        }
    }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
    .container_flex {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .info {
        align-self: flex-start;
        margin-left: 12.5%;
        width: 80%;

        h1 {
            font-size: 2.3rem;
        }

        p {
            font-size: 1.3rem;
        }

        button {
            font-size: 1rem;
        }
    }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .container_flex {
        img {
            margin-top: 0 !important;
        }
    }
    .info {
        margin-left: 50px;

        h1 {
            font-size: 2.3rem;
        }

        p {
            font-size: 1.3rem;
        }
    }
}