@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

.container_footer {
    width: 100%;
    height: 400px;
    margin-top: 300px;
    padding-left: 10%;
    background-color: rgba(220, 220, 220);
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -100px;
        left: 0;
        background: #575A5E;
        opacity: .5;
        height: 100px;
        width: 100%;
    }
}

.contact {
    padding-top: 50px;
    display: flex;
    flex-flow: column wrap;
    gap: .5em;

    h3 {
        font-family: 'Baloo Bhai 2';
        font-size: 1.8rem;
    }
}

.icon {
    display: flex;
    gap: 2.5em;
}

.copyright {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Libre Baskerville';
    opacity: .8;
    // border-top: 1px solid black;
    padding-top: 20px;

    &::before {
        content: '';
        position: absolute;
        width: 80%;
        height: 5px;
        top: 0;
        left: 10%;
        background: rgb(200, 200, 200);
    }
}

.team {
    font-family: 'Changa';
    font-size: 2.5rem;
    color: rgba(130, 130, 130, .6);
    position: absolute;
    right: 10%;
    top: 290px;
}