$normal-color: #575A5E;
$hover-color: #8BBD8B;


.container {
    width: 100%;
    height: 11vh;
    min-height: 70px;
    max-height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
    color: $normal-color;
    background-color: white;
    padding-left: 30px;

    .logo {
        display: flex;
        align-items: center;
        padding-right: 20px;

        span {
            font-weight: bolder;
            font-size: 2rem;
            letter-spacing: .2em;
            margin-left: .2em;
            color: #6CAE75;
            opacity: .8;
        }
    }
    
    a {
        position: relative;
        transition: all .25s ease-out;
        font-family: 'Libre Baskerville', sans-serif;
        font-size: 1rem;

        &:last-child {
            margin-left: 0;
        }

        position: relative;

        &:hover:not(:last-child) {
            color: $hover-color;
        }

    }

    button {
        background: none;
        border-radius: 20px;
        padding: 1em;
        text-align: justify;
        text-justify: inter-character;
        color: $hover-color;
        border: 1px solid $hover-color;
        transition: background .25s ease-in;

        &:hover {
            background: $hover-color;
            color: white;
        }
    }

    .links {
        font-family: 'Libre Baskerville';
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        gap: 1em;
        margin: 0 20px 0 auto;
    }
        
}

.profile_account {
    font-family: 'Libre Baskerville';
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
    margin: 0 20px 0 auto;

    img {
        border-radius: 50% !important;
    }

    a:hover {
        color: #575A5E !important;
        text-decoration: underline;
    }

    .inactive {
        content: '';
        background: red;
        opacity: .5;
        position: absolute;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        top: 0;
        right: -5px;
    }
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
    .container {
        padding-left: 10px;

        .logo {
            font-size: .8rem;
            span {
                font-size: 1.2rem;
                letter-spacing: .1em;
            }
        }
    }

    .menu_open {
        font-family: 'Libre Baskerville';
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        gap: 1em;
        margin: 0 20px 0 auto;
    }

    .open_menu_transition {
        transform: rotate(90deg);
        transition: transform .2s ease-out;
    }

    .close_menu_transition {
        transition: rotate(0);
        transition: transform .2s ease-out;
    }

    .menu_container {
        width: 100vw;
        height: 280px;
        overflow: hidden;
        background: rgb(253, 253, 253);
        font-family: 'Libre Baskerville', sans-serif;

        ul {
            color: $normal-color;
            list-style-type: none;
            line-height: 3;
            padding-left: 0;
            text-align: center;
        }
    }

    @keyframes open_container {
        0% { opacity: 0; height: 0; }
        100% { opacity: 1; height: 280px; }
    }

    @keyframes close_container {
        0% { opacity: 1; height: 280px; }
        100% { opacity: .4; height: 0; }
    }

    .opened_container {
        animation: open_container .2s;
        height: 280px;
    }

    .closed_container {
        animation: close_container .2s;
        height: 0px;
    }

    .authentication_links {
        width: 100%;
        margin-top: 40px;

        a {
            color: $normal-color;

            &:first-child[id='#login'] {
                margin-right: 20px;
            }
        }
        
        button {
            background: none;
            border-radius: 20px;
            padding: 1em;
            text-align: justify;
            text-justify: inter-character;
            border: 1px solid $hover-color;

            a {
                color: $hover-color !important;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .container .logo {
        span {
            font-size: 1.6rem;
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 800px) {
    .container .logo {
        span {
            font-size: 1.8rem;
        }
    }
}

@media screen and (min-width: 800px) and (max-width: 1224px) {
    .container {
        gap: 1em;
        a {
            font-size: .9rem;
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
    .container {
        a {
            &:hover:not(:last-child) {
                color: $normal-color;
            }

        }

        button {
            &:hover {
                background: white;
                color: $hover-color;
            }
        }
    }

    .profile_account {
        a:hover {
            color: $normal-color !important;
            text-decoration: none;
        }
    }
}