.background_make {
    background: white;
    height: auto;
    min-height: 200px;
    width: 90%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding: 25px 50px 50px 50px;
}

.background_make_photos {
    background: white;
    height: auto;
    min-height: 500px;
    width: 90%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 50px 50px 50px;
}

.background_make_video {
    background: white;
    height: auto;
    min-height: 600px;
    width: 90%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 50px 50px 50px;
}

.background_make_description {
    background: white;
    height: auto;
    min-height: 600px;
    width: 90%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 50px 50px 50px;
}

.background_make_button {
    background: white;
    height: auto;
    min-height: 100px;
    width: 90%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-end;
    padding: 25px 50px;

    button {
        padding: .8em 3em;
        font-family: 'Baloo Bhai 2';
        font-weight: 600;
        background: #60BF60;
        color: white;
        border: none;
        cursor: pointer;

        &:hover {
            opacity: .9 !important;
        }

        &:active {
            opacity: .8 !important;
        }
    }
}

.heading {
    margin-left: 5vw;
    justify-content: center;
    gap: 1em;
    font-size: 1.4rem;
    font-family: 'Baloo Tamma 2';
    margin-top: 50px;
}

.form {
    margin-top: 80px;
    display: flex;
    flex-flow: column wrap;
    gap: 3em;
}

.input {
    display: flex;
    flex-flow: column wrap;

    label {
        font-family: 'Baloo Tamma 2';
        font-size: 1.6rem;
        color: #8BBD8B;
    }

    p {
        font-family: 'Baloo Bhai 2';
        font-size: 1.1rem;
    }

    input {
        width: 100%;
        max-width: 800px;
        padding: .8em 1em .8em .5em;
        border-radius: 5px;
        border: 1px solid rgb(130, 130, 130);
        font-size: 1rem;
        font-family: sans-serif;
        background: rgb(250, 250, 250);

        &:focus {
            outline-color: #6CAE75;
            border-color: #6CAE75;
        }

        &[type=file] {
            border: none;
            display: none;
        }
    }
}

.input_upload {
    position: relative;
    margin: 0 !important;

    img {
        cursor: pointer;
    }
}

.image_container {
    position: relative;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    width: max-content;
    background: white;
}

.img_replace {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 2px;
    width: 160px;
    height: 160px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@keyframes appear_anim {
    0% { transform: scale(0) }
    100% { transform: scale(1) }
}


.delete_photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 60px;


    button {
        padding: .5em 1em;
        border: 1px solid rgb(230, 230, 230);
        background: rgb(240, 240, 240);
        cursor: pointer;
        border-radius: 3px;
        transition: all .2s ease-out;
        font-family: 'Baloo Bhai 2';
        font-weight: 500;
        animation: appear_anim .25s;

        &:hover {
            background: rgb(245, 245, 245);
        }

        &:active {
            border-color: rgb(180, 180, 180);
            background: rgb(230, 230, 230);
        }
    }
}

.image_lay {
    position: relative;
    transition: all .3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;


    &:hover:not(:first-child::after) {
        filter: saturate(30%)
    }

    &:first-child::after {
        content: 'Principală';
        position: absolute;
        bottom: 0;
        right: 0;
        background: #8BBD8B;
        padding: 2px 4px 4px 4px;
        filter: saturate(100%) !important;
        border-top-left-radius: 3px;
    }
}

.no_content {
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    cursor: pointer;

    p {
        font-family: 'Baloo Bhai 2';
        color: rgb(220, 220, 220);
        font-size: 1.3rem;
    }
}

.flex_add {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    position: relative;
}

.delete_icon {
    cursor: pointer;
}

.container_video {
    border: 1px solid gray;
    width: 100%;
    max-width: 900px;
    height: 400px;
    padding: 0 1em;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: white;
}

.description {
    display: flex;
    flex-flow: column wrap;
    font-family: 'Baloo Tamma 2';

    label {
        font-family: 'Baloo Tamma 2';
        font-size: 1.6rem;
        color: #8BBD8B;
    }

    p {
        font-size: 1.1rem;
    }
}

.wrong_input {
    &:not([id='title']) {
        border: 1px solid red !important;
    }
    
    input {
        border-color: red !important;
        outline-color: red !important;
    }
}

@media screen and (min-width: 0px) and (max-width: 700px) {
    .heading {
        margin-left: 5vw;
        width: 95vw;
        font-size: .75rem;
        margin-bottom: -5vh;
    }   

    .background_make {
        padding-left: 8vw;
        padding-right: 5vw;
    }

    .background_make_photos {
        padding-left: 8vw;
        padding-right: 5vw;
    }

    .background_make_video {
        padding-left: 8vw;
        padding-right: 0vw;
    }

    .background_make_description {
        padding-left: 8vw;
        padding-right: 5vw;
    }

    .background_make_button {
        padding-left: 8vw;
        padding-right: 5vw;
    }

    .input {
        display: flex;
        flex-flow: column wrap;
        width: 100% !important;
        max-width: 400px;

        label {
            font-family: 'Baloo Tamma 2';
            font-size: 1.6rem;
            color: #8BBD8B;
        }
    
        p {
            font-family: 'Baloo Bhai 2';
            font-size: .8rem;
        }
    
        input {
            width: 100%;
            padding: .8em 1em .8em .5em;
            border-radius: 5px;
            border: 1px solid rgb(130, 130, 130);
            font-size: 1rem;
            font-family: sans-serif;
            background: rgb(250, 250, 250);
    
            &:focus {
                outline-color: #6CAE75;
                border-color: #6CAE75;
            }
    
            &[type=file] {
                border: none;
                display: none;
            }
        }
    }

    .container_video {
        border: 1px solid gray;
        width: 100%;
        height: 250px;
        padding: 0 1em;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background: white;
    }

    .description {
        p {
            font-size: .8rem;
        }
    }

    .flex_add {
        gap: .5em;
        padding-right: 1em;
    }
}

@media screen and (min-width: 1400px) {
    .heading {
        margin-left: calc((100vw - 1400px) / 2);
    }
}

@media screen and (max-width: 630px) {
    .image_container {
        overflow: scroll;
        width: 70vw;
    }
}

@media screen and (max-width: 900px) {
    .image_lay {
        width: 110px;
        height: 110px;
    }

    .img_replace {
        width: 110px;
        height: 110px;
    }
}

@media screen and (max-width: 1024px) {
    .delete_icon_ph_mob {
        position: absolute;
        top: 1px;
        right: 1px;
        background: white;
        padding: 4px;
        padding-top: 0;
        height: auto;
        z-index: 999999;
    }
}

@media screen and (max-width: 800px) {
    .img_replace {
        padding-right: 24px; 
    }
}