.grid_posts {
  position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5em;
    justify-items: center;
    width: 65%;
    padding-top: 5%;
    margin-left: 0;
}

.loader {
    border: 10px solid gray;
    border-top: 10px solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 15vh;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .special_categories {
    position: absolute;
    left: 20%;
    top: 6vh;
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    gap: 2.5em;
    font-family: 'Baloo Tamma 2';
    cursor: default;
    border-bottom: 1.5px solid #808080;
  }

  .inactive_cat {
    color: rgb(200, 200, 200);
    cursor: pointer;

    &:hover {
      color: rgb(170, 170, 170);
    }
  }