@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');


.post {
    width: 65%;
    height: 580px;
    border: 2px solid rgb(220, 220, 220);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.post_info {
    margin-left: 20px;
    font-family: 'Baloo Bhai 2';
    font-weight: 400;
    margin-top: 10px;
    line-height: 1.15;
}

.title {
    margin: 10px 50px 0 50px;
    font-weight: 700;
    font-size: 1.3rem;
    font-family: 'Baloo Tamma 2';
    font-family: sans-serif;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image {
    text-align: center;
    position: relative;
    width: 100%;
    height: 62%;

    img {
        border-radius: 4px;
    }
}

.manip_section {
    position: relative;
    margin: 20px 50px 10px 50px;
    gap: .5em;
    height: 8%;
    width: 95%;
    bottom: 0;
    border-radius: 4px;

    display: flex;
    flex-flow: row nowrap;
    gap: 1em;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 4px;
        border-radius: 1px;
        background-color: rgb(220, 220, 220);
    }
}

.manip_item {
    display: flex;
    align-items: center;
    gap: .5em;
    font-family: 'Baloo Bhai 2';
    font-weight: 400;
    border-radius: 5px;
    padding: .5em .8em;
    transition: all .2s ease-out;

    &:first-child {
        margin-left: .7em;
    }

    &:hover {
        background-color: rgb(230, 230, 230)
    }
}