// @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@300;400;500;600&display=swap');

@mixin animation-styles {
    width: 33vmax;

    h2 {
        font-family: 'Baloo Bhai 2', sans-serif;
        font-weight: 600;
        font-size: 1.8rem;
        width: 80%;
        margin: 30px auto 10px auto;
        border-radius: 3px 40px;
    }

    input, label {
        display: block;
    }

    input {
        width: 100%;
        border-radius: 4px;
        padding: 1em;
        border: 1px solid rgba(200, 200, 200);
        display: inline;
        position: relative;
        padding-right: 30px;

        &:focus {
            outline-color: #6CAE75;
        }
    }

    label {
        font-family: 'Baloo Tamma 2', sans-serif;
        font-size: .8rem;
        font-weight: bold;
    }
}


.go_back {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    right: 0;
    margin: 10px 10px 0 0;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: 600;

    a {
        transition: all .25s ease-in;
    }
    
    &:hover {
        a {
            color: #6CAE75 !important;
        }
    }
}

.container {
    display: flex;
    justify-content: center;
}

.design {
    position: absolute;
    margin-top: -30px;
    margin-bottom: -50px;
    background-color: white;
    border-radius: 5px;
    border-right: 1px solid rgb(240, 240, 240);
    padding: 30px 0 50px 0;
    position: relative;
    
    h3 {
        position: relative;
        z-index: 9000;
        font-size: 2.2rem;
        margin-top: 4.5em;
        margin-left: -15px;
        font-weight: lighter;
        @for $i from 1 through 3 {
            span:nth-child(#{$i * 2 - 1}){
                margin-left: calc(25px * calc(#{$i} + 1) * #{$i})
            }
        }
        color: black;
        font-family: 'Baloo Bhai 2', cursive;
        font-weight: 500;
    }

}

.logo {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    margin: 10px 0 0 20px;

    span {
        font-weight: bolder;
        font-size: 2rem;
        letter-spacing: .2em;
        margin-left: .2em;
        color: #8BBD8B;
    }
}

.form {
    height: 85vh;
    background-color: rgb(254, 254, 254);
    margin-top: 10vh;
    border-radius: 5px;
    border: 2px solid rgb(240, 240, 240);
    padding: 30px 0 50px 0;
    position: relative;
    box-shadow: 5px 5px 10px 1px rgb(150, 150, 150);
    
    @include animation-styles;
}

.input_d {
    width: 70%;
    margin: 20px auto 0 auto;
    position: relative;

    input[type=file] {
        border: none;
        display: none;
    }
}



.input_upload {
    margin: 20px auto 0 auto;
    position: relative;

    input[type=file] {
        border: none;
        display: none;
    }

    .hover_for_info {
        position: relative;
        &:hover {
            cursor: help;
        }
        &::before {
            content: attr(hover-info);
            position: absolute;
            background: rgb(230, 230, 230);
            height: 50px;
            width: 120%;
            margin-left: -10%;
            margin-top: -50px;
            font-size: .6rem;
            text-align: center;
            border-radius: 2px;
            border: 1px solid rgb(240, 240, 240);
            transition: all .25s ease-out;
            opacity: 0;
            visibility: hidden;
        }

        &:hover::before {
            opacity: 1;
            visibility: visible;
        }
    }
}

.svg_container {
    position: absolute;
    display: inline;
    margin-left: -30px;
    margin-top: 10px;
    
    [id=pass] {
        cursor: pointer;
    }
}

.buttons_gender {
    width: 70%;
    margin: 20px auto 0 auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;

    button {    
        width: 100%;
        background: none;
        border: 2px solid rgba(200, 200, 200);
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            border-color: #8BBD8B;
        }


    }

    .selected {
        border-color: black;
    }
}

.button_sub {
    margin-top: 30px;
    text-align: center;
    background: none;

    button {
        padding: 1em 5em;
        border-radius: 20px;        
        text-align: justify;
        text-justify: inter-character;
        color: #6CAE75;
        border: 1px solid #6CAE75;
        transition: background .25s ease-in;
        cursor: pointer;
        background: white;

        &:hover {
            background: #6CAE75;
            color: white;
        }

        &:hover {
            a {
                color: white;
            }
        }
    }
}

@keyframes slide_left {
  0% { opacity: 1; transform: translateX(0) }
  100% { opacity: 0; transform: translateX(-300px) }
}

.animation_slide_left {
    animation: slide_left .6s;
    display: inline-block;
    position: absolute;
    @include animation-styles;
}

@keyframes slide_from_left {
    0% { opacity: 0; transform: translateX(-300px)}
    100% { oapcity: 1; transform: translateX(0) }
}

.animation_slide_from_left {
    animation: slide_from_left .6s;
}



@keyframes slide_from_right {
    0% { opacity: 0; transform: translateX(300px)}
    100% { opacity: 1; transform: translateX(0) }
}

.animation_slide_from_right {
    animation: slide_from_right .6s;

}


@keyframes slide_right {
    100% { opacity: 0; transform: translateX(300px)}
}
.animation_slide_right {
    animation: slide_right .6s;
    
    @include animation-styles;
}

.prev {
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    margin-left: 15px;
    width: max-content;
    position: absolute;
    margin: -40px 0 0 15px;
    
    &:hover {
        span {
            color: #6CAE75;
            text-decoration: underline;
        }
    }

    span {
        transition: all .35s ease-out;
    }
}

.hidden {
    display: none;
}

.button_file_input {
    padding: 1em 1.5em;
    background: none;
    width: max-content;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    cursor: pointer;
    height: fit-content;    
    margin-bottom: 0;

    &:hover {
        background-color: rgb(240, 240, 240);
    }
}

.button_file_uploaded {
    border-color: #6CAE75;
}

.file_upload_container {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
}

.wrong_input {
    border-color: red !important;

    input {
        border-color: red !important;
        outline-color: red !important;
    }

    button {
        border-color: red !important;
    }
}

.additional_info {
    font-family: 'Baloo Bhai 2';
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    
    &:hover {
        text-decoration: underline
    }
}