.title {
    display: flex;
    flex-flow: row nowrap;
    text-transform: uppercase;
    font-family: 'Baloo Tamma 2';
    font-size: 1.2rem;
    gap: .3em;
    font-weight: 600;

    img {
        margin-top: -5px !important;
    }
}

.forward {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: .5em;
    margin-top: 40px;
    font-family: 'Baloo Tamma 2';
    font-weight: 500;
    font-size: 1.2rem;

    a:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .title {
        font-size: clamp(.5rem, 2.5vw, .8rem);
    }
}

@media screen and (min-width: 0px) and (max-width: 900px) {
    .title {
        margin-left: clamp(0px, 2vw, 50px);
    }
}