@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');


.mini_post {
    width: 100%;
    height: 220px;
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
    position: relative;

    &:not(:last-child){
        &::after {
            content: '';
            // border-bottom: 4px solid black;  
            bottom: -2.5em;
            width: 100%;
            height: 6px;
            background-color: rgb(220, 220, 220);
            position: absolute;
            // bottom: 0;
            left: 0;
        }
    }
}

.image {
    position: relative;
    height: 100%;
    width: 30%;

    img {
        border-radius: 2px;
    }
}

.post_info {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-family: 'Baloo Bhai 2';
    font-weight: 400;
    padding-top: 10px;
    line-height: 1.15;
    gap: 1em;

    img {
        border-radius: 50%;
    }
}

.title {
    width: 90%;
    margin: 10px 0 0 10px;
    font-weight: 700;
    font-size: 1.3rem;
    font-family: 'Baloo Tamma 2';
    font-family: sans-serif;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5em;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        text-decoration: underline;
    }
}

.manip_section {
    position: relative;
    margin: 20px 50px 0px 50px;
    gap: .5em;
    height: 8%;
    width: 95%;
    bottom: 0;
    border-radius: 4px;
    font-size: 1.15rem;
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 2em;
        width: 4px;
        border-radius: 1px;
        background-color: rgb(220, 220, 220);
    }
}

.manip_item {
    display: flex;
    align-items: center;
    gap: .5em;
    font-family: 'Baloo Bhai 2';
    font-weight: 400;
    border-radius: 5px;
    padding: 1em .8em;
    transition: all .2s ease-out;

    &:first-child {
        margin-left: .7em;
    }

    &:hover {
        background-color: rgb(230, 230, 230)
    }
}