html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgba(245, 245, 245, 1);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-button-next {
  background-image: url('https://res.cloudinary.com/multimediarog/image/upload/v1647954361/FIICODE/right-arrow-6405_ww5mk2.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-color: rgb(220, 220, 220);
  width: 40px !important;
  height: 50px !important;
  border-radius: 2px;
  opacity: .4;
  transition: opacity .2s ease-in;

  &:hover {
    opacity: 1;
  }
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url('https://res.cloudinary.com/multimediarog/image/upload/v1647954309/FIICODE/left-arrow-6404_sg9u3r.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-color: rgb(220, 220, 220);
  width: 40px !important;
  height: 50px !important;
  border-radius: 2px;
  opacity: .4;
  transition: opacity .2s ease-in;

  &:hover {
    opacity: 1;
  }
}

.swiper-button-prev::after {
  display: none;
}

.rdw-editor-main {
  border: 1px solid rgb(220, 220, 220);
  min-height: 400px;
  max-height: 400px;
  background: rgb(250, 250, 250);
}